################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/SnookerCalc/.vs/SnookerCalc/FileContentIndex
/.vs/projekty-net/FileContentIndex
